:root {
  --creativeWidth: 300px;
  --creativeHeight: 250px;
  --defaultPadding: 5px;
  --defaultBorderSize: 2px;
  --borderColor: #787878;
  --ctaColor: #d82b91;
  --ctaFontColor: black;
  --ctaFontColorHover:#d10074;
  --ctaColorHover: black;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#creative_container {
  width: var(--creativeWidth);
  height: var(--creativeHeight);
  font-family: 'Gotham Book';
  background-color: black;
  color: white;
  cursor: pointer;
}

#fallback {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  display: none;
}

#click {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999999;
  position: relative;
  background-color: black;
  background-size: contain;
  cursor: pointer;
}

#introContainer {
  overflow: hidden;
  width: 300px;
  height: 250px;
  position: absolute;
  top: 0px;
}

#logoContainer {
  position: relative;
  z-index: 200;
  padding: 8px 0px;
  width: 100%;
  text-align: center;
  background-color: black;
}

#mainTitleContainer {
  position: relative;
  z-index: 100;
  background-color: #d82b91;
  height: 40px;
  width: 100%;
  will-change: transform;
  transform: rotate3d(1, 1, 1, .01deg);
}

#mainTitle {
  position: relative;
  font-family: "Gotham Light";
  text-align: center;
  font-size: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#mainTitle span {
  font-family: 'Gotham Bold';
  padding-right: 7px;
}

#subTitleContainer {
  z-index: 5;
  position: relative;
}

#subTitle {
  width: fit-content;
  margin: 0 auto;
  background-color: black;
  font-size: 10px;
  font-family: 'Gotham Bold';
  text-transform: uppercase;
  padding: 0px 5px;
  margin-top: -9px;
  transform: rotate(-4deg);
  will-change: transform;
}

#mainLogo {
  width: 100px;
  height: 12px;
  /* background-image: url('https://lemonpi-prod-templates.s3.amazonaws.com/a773/15058/5/ff8f15c…/128.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}

.introCopyRun {
  position: absolute;
  width: 100%;
  height: 100%;
}

#patternbg {
  position: absolute;
  width: 300px;
  height: 111px;
  top: 75px;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.runBox {
  position: absolute;
  width: 84px;
  height: 54px;
  left: 110px;
  top: 33px;
}

.run0, .run1, .run2, .run3, .header1 {
  left: 0px;
  top: 0px;
}

.runBox1 {
  top: 24px;
}
.runBox2 {
  top: 59px;
  z-index: 3;
}
.runBox3 {
  z-index: 2;
  top: 140px;
}
.runBox4 {
  top: 175px;
}

.run {
  position: absolute;
  width: 82px;
  text-align: center;
  font-family: 'Gotham Bold';
  font-size: 48px;
}

.sliding_bg {
  position: absolute;
  width: 1071px;
  height: 250px;
  left: -194px;
  top: -74px;
  /* background-image: url('https://lemonpi-prod-templates.s3.amazonaws.com/a773/15058/5/ff8f15cd5d424dc7a7e071d39f7775bc/265.png'); */
  background-repeat: no-repeat;
  background-size: 1071px, 250px;
  will-change: transform;
  transform: rotate3d(1, 1, 1, .01deg);
}

#mouth1 {
  position: absolute;
  width: 126px;
  height: 70px;
  top: 99px;
  left: 29%;
  /* background-image: url('mouth1.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
  will-change: transform;
  transform: rotate3d(1, 1, 1, .01deg);
}

#mouth2 {
  position: absolute;
  width: 126px;
  height: 81px;
  top: 96px;
  left: 29.5%;
  /* background-image: url('mouth2.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
  will-change: transform;
  transform: rotate3d(1, 1, 1, .01deg);
}

.introBlackFri {
  position: absolute;
  width: 167px;
  height: 157px;
  left: 64px;
  top: 35px;
}

.header1 {
  font-family: 'Gotham Book';
  position: absolute;
  font-size: 37px;
  line-height: 1.04;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  will-change: transform;
  transform: rotate3d(1, 1, 1, .01deg);
}

.header1 span {
  font-family: 'Gotham Bold';
  font-size: 1.1em;
}

.header1_mask {
  position: absolute;
  width: 100%;
  height: 75px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.header2 {
  font-family: 'Gotham Bold';
  position: absolute;
  font-size: 52px;
  line-height: 1.05;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
  will-change: transform;
  transform: rotate3d(1, 1, 1, .01deg);
}

.header2_mask {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 55px;
  top: 118px;
}

.next {
  position: absolute;
  padding: 6px 8px;
  background-color: white;
  bottom: 23px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
}

.next:hover {
  background-color: var(--ctaColor);
}

.nextArrow {
  position: relative;
  width: 5px;
  height: 9px;
  background-image: url('https://assets.lemonpi.io/a/773/141919e23c143d137cb77d3b0b8398bf.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.next:hover .nextArrow {
  background-image: url('https://assets.lemonpi.io/a/773/017243e20bc798c50d43c3f2ba157f6a.svg');
}

.prev {
  position: absolute;
  padding: 6px 8px;
  background-color: white;
  bottom: 23px;
  left: 10px;
  z-index: 9999;
  cursor: pointer;
}

.prev:hover {
  background-color: var(--ctaColor);
}

.previousArrow {
  position: relative;
  width: 5px;
  height: 9px;
  transform: rotate(180deg);
  background-image: url('https://assets.lemonpi.io/a/773/141919e23c143d137cb77d3b0b8398bf.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.prev:hover .previousArrow {
  background-image: url('https://assets.lemonpi.io/a/773/017243e20bc798c50d43c3f2ba157f6a.svg');
}

.pointerCube {
  position: absolute;
  pointer-events: none;
  z-index: 99999;
  width: 50px;
  height: 50px;
  /* background-image: url('pointer.png'); */
  right: 25px;
  top: 122px;
  background-size: contain;
  filter: drop-shadow(2px 4px 4px black);
  opacity: 0;
  will-change: transform;
  transform: rotate3d(1, 1, 1, .01deg);
}

.cubeMainContainer {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 161px;
  padding: 0px 5px;
  will-change: transform;
  transform: rotate3d(1, 1, 1, .01deg);
  cursor: pointer;
}

.cubeContainer {
  display: inline-block;
  padding: 0px;
  padding-top: 13px;
  perspective: 180px;
  cursor: pointer;
}

.cube {
  padding-bottom: 10px;
  height: 130px;
  width: 135px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.slide {
  top: 0;
  left: 0;
}

.copy {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.faceProduct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  height: 75%;
  background-size: contain;
  background-position-x: 15%;
  background-position-y: 75%;
  background-repeat: no-repeat;
}

.facePatern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
}

.facePancake {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 75px;
  height: 75px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.cta {
  position: absolute;
  width: unset;
  padding: 5px;
  padding-left: 17px;
  padding-right: 7px;
  background-color: var(--ctaColor);
  bottom: 23px;
  z-index: 9999;
  left: 49%;
  transform: translate(-50%, 0%);
}

.ctaHover {
  background-color: var(--ctaFontColorHover);
}

.ctaArrow {
  position: absolute;
  width: 5px;
  height: 6px;
  left: 8px;
  top: 8px;
  background-image: url('https://lemonpi-prod-templates.s3.amazonaws.com/a773/15058/5/ff8f15cd5d424dc7a7e071d39f7775bc/212.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#ctaCopy {
  font-family: 'Gotham Bold';
  font-size: 9px;
  letter-spacing: 0.05em;
}

#footer {
  position: absolute;
  width: 10000px;
  height: 11px;
  left: -31px;
  bottom: 4px;
  /* background-image: url('https://assets.lemonpi.io/a/672/9dda048f8979cea0a9b95a024731f82c.png'); */
  background-repeat: repeat-x;
  background-size: contain;
  overflow: hidden;
}