@import url("https://f.lemonpi.io/a/849/f/2d0338cc-7f1d-465f-925b-9fd110cd9624/font-face.css");
@import url("https://f.lemonpi.io/a/849/f/a31519d2-d57b-4536-8924-e25db7baf8f2/font-face.css");
html, body {
    width: 300px;
    height: 250px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#creative_container {
    width: 100%;
    height: 100%;
    cursor: pointer !important;
    font-family: "NSSans";
    color: white;
}
#creative_container #template {
    position: absolute;
    opacity: 0.5;
    width: 300px;
    height: 250px;
}
#creative_container #fallback {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: url("fallback.jpg");
}
#creative_container #bannerContent {
    opacity: 0;
}
#creative_container #bannerContent #logo {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 47px;
    height: 18px;
}
#creative_container #bannerContent #disclaimer {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 100%;
    font-size: 8px;
    color: #003082;
}
#creative_container #bannerContent #videoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}
#creative_container #bannerContent #videoContainer video, #creative_container #bannerContent #videoContainer img {
    width: 100%;
}
#creative_container #bannerContent .ctaContainer {
    position: absolute;
    top: auto;
    left: 16px;
    bottom: 30px;
    color: #FFFFFF;
    background-color: #FF0045;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em 0.9em 0.6em;
    will-change: transform;
    font-family: "NSSans-Bold";
    font-size: 15px;
    line-height: 0.8em;
    cursor: pointer;
}
#creative_container #bannerContent .ctaContainer #ctaArrow {
    margin-top: -1px;
    margin-left: 3px;
}
#creative_container #bannerContent .ctaContainer.hover {
    background-color: #e6003e;
}
#creative_container #bannerContent #pancake {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 65px;
    height: 67px;
}